@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500&display=swap');

/* ESTILO GERAL */  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body {
    background-color:#0a010c;    
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}
h1 {
    color: #a856f0;
}
.flex {
    display: flex;
}
h2.titulo {
    color: #f0f0f5;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}
/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: #f0f0f5;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 25px;
    transition: .2s;
}
header a:hover {
    transform: scale(1.05);
    color: #a856f0;
}
header nav ul li {
   display: inline-block;
   padding: 0 40px;
}
header .btn-contato button {
    margin-top: 1rem;
    padding: 0.5rem;
    background: #ae7cf059;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    color:#f0f0f5;
    
}
header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #f0f0f562;
    width: 100%;
}
/* Estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;
}
section.topo-do-site .flex {
    align-items: center;
    justify-content: space-between;
    /* gap: 90px; */
}
.topo-do-site h2 {
    color: #f0f0f5;
    font-weight: normal;  
    font-size: 60px;
}
.topo-do-site h1, .topo-do-site h3 {
    color: #f0f0f5;
    font-weight: lighter;
    font-size: 50px;       
}
.topo-do-site .txt-topo-site h1 span {
    color: #a856f0;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 20%;   
    border: none;
    font-size: 30px;
    display: inline;
    background-color: #a856f077;
    margin: 15px 8px;
    cursor: pointer;
    color: #f0f0f5;
    transition: .2s;
}
.btn-social button:hover {
    box-shadow: 0px 0px 8px #f0f0f5;
    transform: scale(1.05);
}
.img-topo-site {
    max-width: 100%;
    height: auto;
}
.img-topo-site img {
    max-width: 100%;
    height: auto;
}

.img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/*estilo do sobre mim */
section.sobre-mim {
    padding: 40px 4%;
    
}
.sobre-mim .txt-sobre {
    color: #f0f0f5;
    letter-spacing: 1px;
    line-height: 1.5;
}
section.sobre-mim .flex {
    text-align: center;
    align-items: center;
    
}
.sobre-mim .txt-sobre h2 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 50px;
}
.sobre-mim .txt-sobre p {
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
}

/*estilo dos projetos */
section.projetos {
    padding: 80px 4%;
}

section.projetos .flex {
    gap: 60px;
    
}
.projetos .projetos-box {
    color: #f0f0f5;
    padding: 50px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    flex: 1;
}
.projetos .projetos-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #f0f0f554;
}
.projetos .projetos-box {
    letter-spacing: 2px

}
.projetos .projetos-box i {
    font-size: 70px;
    color: #a856f0;
}
.projetos .projetos-box h3 {
    font-size: 30px;
    margin: 15px 0;
}
/*estilo habilidades */

section.Habilidades {
    padding: 80px 4%;
}
section.Habilidades .flex {
    gap: 60px;
    
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a856f0;
    width: 100%;
    height: 100%;
    padding:100px;
    font-size: 100px;
}

/*estilo formulario de contato*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: auto;
}

footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 500px;
    box-shadow:#a856f0 0px 50px 100px -20px, #a856f0 0px 30px 60px -30px;
    gap: 60px;
}
section h3 {
    color: #f0f0f5;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    margin: 2rem;
}