@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500&display=swap');

/* ESTILO GERAL */  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body {
    background-color:#0a010c;    
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}
h1 {
    color: #a856f0;
}
.flex {
    display: flex;
}
/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: #f0f0f5;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: larger;
    transition: .2s;
}
header a:hover {
    transform: scale(1.05);
    color: #a856f0;
}
header nav ul li {
   display: inline-block;
   padding: 0 40px;
}
header .btn-contato button {
    margin-top: 1rem;
    padding: 0.5rem;
    background: #ae7cf059;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    color:#f0f0f5;
    
}
header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #f0f0f562;
    width: 100%;
}
/* Estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;
}
section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h2 {
    color: #f0f0f5;
    font-size:60px;
    font-weight: normal;   
}
.topo-do-site h1, h3 {
    color: #f0f0f5;
    font-size: 40px;
    font-weight: lighter;
        
}
.topo-do-site .txt-topo-site h1 span {
    color: #a856f0;
}
.btn-linkedin button {
    margin-top: 1rem;
    padding: 0.5rem;
    background: #ae7cf059;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    color:#f0f0f5;
    width: 100%;
    
}
.btn-linkedin button:hover {
    box-shadow: 0px 0px 8px #f0f0f58a;
    letter-spacing: 0.5px;
    
}